<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section type="System.Configuration.NameValueSectionHandler"
					 name="TestRunner"></section>
		</sectionGroup>
	</configSections>

	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"></add>
		</TestRunner>
	</NUnit>
</configuration>